{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container" id="dictionary-entry-form">
        {% form_theme dictionaryEntryForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(dictionaryEntryForm) }}
            {{ form_widget(dictionaryEntryForm) }}
        {{ form_end(dictionaryEntryForm) }}
    </div>
{% endblock %}
