{% extends 'base.html.twig' %}

{% block body %}
    <div id="search-form">
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}
    </div>
{% endblock %}
