{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container" id="register-form">
        {% form_theme registerForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}
    </div>
{% endblock body %}
