{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-container" id="register-form">
        {% form_theme registerForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(registerForm) }}
            <h1 class="text-center mb-lg-4"><span class="fas fa-user-plus"></span></h1>
            {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}
    </div>
{% endblock body %}
