div.form-container{
  margin: auto;

  input{
    &:focus{
      border-color: darkred;
      box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
    }
  }

  button, .btn {
    background: darkred;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: .5rem 10rem;
    margin: 2rem;
    border-radius: 10rem;
    border-color: darkred;

    &:hover, &:active {
      color: white;
      background: lighten(black, 10%);
      border-color: black;
    }
  }
}