nav.navbar {
  background: darkred;
  font-size: 1rem;

  .navbar-toggler {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  li {
    padding: .5rem .5rem;
    margin: .15rem .3rem;

    &.nav-action{
      border-radius: 10rem;

      &:hover {
        background-color: darken(darkred, 10%);
      }

      &.active {
        background-color: darkred;

        &:hover {
          background-color: darken(darkred, 5%);
        }
      }
    }


    span.fa,
    svg {
      margin-right: 0.2rem;
    }
  }

  a.navbar-brand {
    text-shadow: 1px 1px 3px #444;
    padding: 0.5rem 0;

    span.light {
      font-weight: 200;
    }
  }

  .nav-item {
    text-shadow: 1px 1px 3px #444;
    color: #fff;
    a {
      color: #fff;
      text-decoration: underline;
    }

    &.btn-link {
      margin-top: 1px;

      &:hover {
        background-color: darkred;
      }
    }
  }

  div.user-info{
    display: inline-flex;
    margin-left: auto;
  }
}
