div.body-container{
  margin: 2rem;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  .alert{
    text-align: center;
  }
}

button, .btn {
  background: darkred;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: .5rem 10rem;
  margin: 2rem;
  border-radius: 10rem;
  border-color: black;

  &:hover, &:active {
    color: white;
    background: lighten(black, 10%);
    border-color: black;
  }
}