ul{
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  li.action-item{
    display: inline;
    padding: 0 1rem 0 0;

    .action-link {
      color: darkred;

      &:hover {
        color: darken(darkred, 10%);
      }
    }
  }
}