{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>
                Term
            </th>
            <th>
                Definition
            </th>
        </tr>
        {% for entry in dictionaryList %}
            <tr>
                <td>{{ entry.getTerm }}</td>
                <td>{{ entry.getDefinition }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}