{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in dictionaryList %}
                <tr>
                    <td>{{ entry.getTerm }}</td>
                    <td>{{ entry.getDefinition }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}