{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in dictionaryList %}
                <tr>
                    <td>{{ entry.getTerm }}</td>
                    <td>{{ entry.getDefinition }}</td>
                    <td>
                        <ul>
                            <li class="action-item">
                                <a class="action-link" href="{{ path('edit', { 'id': entry.getId }) }}"><span class="fa fa-edit"></span> edit</a>
                            </li>
                            <li class="action-item">
                                <a class="action-link" href="{{ path('delete', { 'id': entry.getId }) }}"><span class="fa fa-trash"></span> delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}